Repository TencentBlueKing/bk-weweb: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --cache --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["biome check --write", "eslint --cache --fix"],
  "*.{json,css}": ["biome check --write"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: 优化微前端沙盒性能 --Story=121504203 # Reviewed, transaction id: 28352
  biome.json
  package.json
  src/context/cache.ts
  src/context/sandbox.ts
  src/entry/script.ts
Due: biome check --write, eslint --cache --fix

feat: eslint fix # Reviewed, transaction id: 28716
  .lintstagedrc
  biome.json
  package.json
  src/base-app/collect-source.ts
  src/base-app/element.ts
  src/context/element.ts
  src/context/sandbox.ts
  src/entry/entry.ts
  src/entry/script.ts
  src/entry/style.ts
  src/mode/app.ts
  src/mode/instance.ts
  src/typings/model.ts
  src/utils/element.ts
  src/utils/fetch.ts
Due: biome check --write, eslint --cache --fix

feat: 去除example中的ts构建类型检测 # Reviewed, transaction id: 29045
  examples/webpack/vue.config.js
  package.json
  pnpm-lock.yaml
  src/entry/script.ts
Due: biome check --write, eslint --cache --fix

feat: 去除example中的ts构建类型检测 # Reviewed, transaction id: 29046
  examples/children/vite/src/style.css
  examples/webpack/src/App.vue
  examples/webpack/src/pages/vite.vue
  package.json
Due: biome check --write

feat: eslint fix # Reviewed, transaction id: 29049
  examples/children/vue2/package-lock.json
  examples/children/vue2/package.json
  examples/children/vue2/src/App.vue
  examples/children/vue2/src/components/HelloWorld.vue
  package.json
  tsup.config.ts
Due: biome check --write, eslint --cache --fix

feat: eslint fix # Reviewed, transaction id: 29050
  examples/webpack/src/pages/angular.vue
Due: none

fix: shadowroot下的:root转换为:host
  package.json
  src/entry/script.ts
  src/entry/style.ts
  tsup.config.ts
Due: biome check --write, eslint --cache --fix

feat: 优化代码 # Reviewed, transaction id: 44660
  examples/webpack/package-lock.json
  examples/webpack/package.json
  package.json
  src/base-app/collect-source.ts
  src/base-app/element.ts
  src/cache/app-cache.ts
  src/common/state.ts
  src/component/web-compnent.ts
  src/component/web-component.ts
  src/context/cache.ts
  src/context/document.ts
  src/context/element.ts
  src/context/event.ts
  src/context/function.ts
  src/context/sandbox.ts
  src/context/window.ts
  src/entry/entry.ts
  src/entry/script.ts
  src/entry/style.ts
  src/index.ts
  src/lifecycle/activated.ts
  src/lifecycle/before-load.ts
  src/lifecycle/deactivated.ts
  src/lifecycle/load.ts
  src/lifecycle/mount.ts
  src/lifecycle/unload.ts
  src/lifecycle/unmount.ts
  src/mode/app.ts
  src/mode/instance.ts
  src/preload/preload.ts
  src/typings/global.ts
  src/typings/index.ts
  src/typings/model.ts
  src/typings/sandbox.ts
  src/typings/source.ts
  src/utils/common.ts
  src/utils/custom.ts
  src/utils/element.ts
  src/utils/fetch.ts
  src/utils/load-source.ts
Due: biome check --write, eslint --cache --fix

feat: 优化代码 # Reviewed, transaction id: 44661
  src/utils/fetch.ts
Due: biome check --write, eslint --cache --fix

feat: feat: 更新版本号并优化数据处理逻辑 # Reviewed, transaction id: 46240
  package.json
  src/context/cache.ts
  src/context/sandbox.ts
  src/entry/entry.ts
  src/lifecycle/load.ts
  src/mode/app.ts
  src/mode/instance.ts
  src/typings/model.ts
Due: biome check --write, eslint --cache --fix

feat: 更新版本号至0.0.35-beta.9，并优化Script类中的代码处理逻辑 # Reviewed, transaction id: 46380
  package.json
  src/entry/script.ts
Due: biome check --write, eslint --cache --fix

feat: feat: 更新版本至0.0.35-beta.10，添加Vite插件支持并优化代码逻辑 # Reviewed, transaction id: 61051
  examples/children/vite/src/App.vue
  examples/children/vite/src/components/HelloWorld.vue
  examples/children/vite/vite.config.ts
  examples/webpack/src/components/custom-app.vue
  examples/webpack/src/pages/vite.vue
  examples/webpack/src/router/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/context/document.ts
  src/context/element.ts
  src/context/sandbox.ts
  src/entry/script.ts
  src/vite/helper.ts
  tsup.config.ts
Due: biome check --write, eslint --cache --fix

fix: 修正拼写错误，将setShodowDom更改为setShadowDom，确保一致性
  docs/docs/intro/app.md
  docs/docs/intro/hooks.md
  docs/docs/intro/module.md
  eslint.config.js
  examples/webpack/src/components/custom-app.vue
  examples/webpack/src/components/custom-instance.vue
  examples/webpack/src/components/custom-webcomponent-app.vue
  examples/webpack/src/pages/shadowDom.vue
  examples/webpack/src/views/HomeView.vue
  readme.md
  readme_en.md
  src/component/web-component.ts
  src/typings/model.ts
Due: biome check --write, eslint --cache --fix, prettier --ignore-unknown --write

fix: 修正拼写错误，将setShodowDom更改为setShadowDom，确保一致性 # Reviewed, transaction id: 62726
  package.json
Due: biome check --write

feat: 更新版本至0.0.36-beta.16，并添加初始化ShadowRoot容器的方法 # Reviewed, transaction id: 65352
  package.json
  src/context/element.ts
  src/mode/instance.ts
Due: biome check --write, eslint --cache --fix

feat: 更新版本至0.0.37，优化应用缓存逻辑并添加获取资源函数 # Reviewed, transaction id: 66012
  package.json
  src/cache/app-cache.ts
  src/context/document.ts
  src/typings/model.ts
Due: biome check --write, eslint --cache --fix

feat: 添加MCP服务器模块，支持微前端框架BK-WeWeb的文档查询、代码生成和配置校验功能 # Reviewed, transaction id: 72323
  .gitignore
  .vscode/settings.json
  mcp-server/README.md
  mcp-server/package.json
  mcp-server/src/index.ts
  mcp-server/src/server.ts
  mcp-server/src/stdio.ts
  mcp-server/src/tools/codegen.ts
  mcp-server/src/tools/docs.ts
  mcp-server/src/tools/examples.ts
  mcp-server/src/tools/validate.ts
  mcp-server/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write, eslint --cache --fix, prettier --ignore-unknown --write

feat: 添加BK-WeWeb微前端框架开发指南文档，并更新MCP服务器版本至1.0.1
  .cursor/skills/bk-weweb/SKILL.md
  .cursor/skills/bk-weweb/references/hooks-api.md
  .cursor/skills/bk-weweb/references/micro-app-config.md
  .cursor/skills/bk-weweb/references/micro-module-config.md
  .cursor/skills/bk-weweb/references/react-integration.md
  .cursor/skills/bk-weweb/references/troubleshooting.md
  .cursor/skills/bk-weweb/references/vue-integration.md
  mcp-server/package.json
Due: biome check --write, prettier --ignore-unknown --write

feat: 添加BK-WeWeb微前端框架开发指南文档，并更新MCP服务器版本至1.0.1
  .cursor/skills/bk-weweb/SKILL.md
  .cursor/skills/bk-weweb/references/hooks-api.md
  .cursor/skills/bk-weweb/references/micro-app-config.md
  .cursor/skills/bk-weweb/references/micro-app.md
  .cursor/skills/bk-weweb/references/micro-module-config.md
  .cursor/skills/bk-weweb/references/micro-module.md
  .cursor/skills/bk-weweb/references/react-integration.md
  .cursor/skills/bk-weweb/references/troubleshooting.md
  .cursor/skills/bk-weweb/references/vue-integration.md
Due: prettier --ignore-unknown --write

refactor: 更新BK-WeWeb微前端框架文档，优化描述和示例，增强用户理解和使用体验
  .cursor/skills/bk-weweb/SKILL.md
  .cursor/skills/bk-weweb/references/hooks-api.md
  .cursor/skills/bk-weweb/references/micro-app.md
  .cursor/skills/bk-weweb/references/micro-module.md
Due: prettier --ignore-unknown --write

feat: 修复一下安全隐患问题 # Reviewed, transaction id: 78582
  examples/children/angular/package.json
  examples/children/instance/package.json
  examples/children/react/package.json
  examples/children/vite/package.json
  examples/children/vue2/package.json
  examples/children/vue3/package.json
  examples/webpack/package.json
  mcp-server/package.json
  mcp-server/src/index.ts
  package.json
  tsconfig.json
Due: biome check --write, eslint --cache --fix

feat: 修复一下安全隐患问题 # Reviewed, transaction id: 78735
  mcp-server/src/index.ts
Due: biome check --write, eslint --cache --fix

feat: github cve 问题
  mcp-server/package.json
  pnpm-lock.yaml
Due: biome check --write

feat: update cve # Reviewed, transaction id: 80148
  biome.json
  eslint.config.js
  examples/children/angular/package-lock.json
  examples/children/instance/package-lock.json
  examples/children/instance/package.json
  examples/children/react/config/webpackDevServer.config.js
  examples/children/react/package-lock.json
  examples/children/react/package.json
  examples/children/vite/package-lock.json
  examples/children/vite/package.json
  examples/children/vue2/package-lock.json
  examples/children/vue2/package.json
  examples/children/vue2/vue.config.js
  examples/children/vue3/package-lock.json
  examples/children/vue3/package.json
  examples/webpack/package-lock.json
  examples/webpack/package.json
  mcp-server/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  stylelint.config.js
  tsconfig.json
  tsdown.config.ts
Due: biome check --write, eslint --cache --fix
